@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-base-100: #e7e7e7;
  --color-base-200: #d8d8d8;
  --color-base-300: #c4c4c4;
  --color-primary: #8ebb2d;
  --color-secondary: #262626;
  --color-accent: #0a2d12;
}

* {
  font-family: "Inter", sans-serif;
}

.active {
  border-bottom: 2px solid #8ebb2d;
  color: #8ebb2d;
}

.Toastify__toast-container {
  position: fixed !important;
  top: 1rem !important;
  right: 1rem !important;
  z-index: 999999 !important;
}

body,
html {
  overflow: visible !important;
  background-color: white;
}

/* Swiper Carousel */
.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: #262626;
  transition: all 0.3s ease-in-out;
}
.mySwiper .swiper-button-next:hover,
.mySwiper .swiper-button-prev:hover {
  color: #8ebb2d;
}
/* All dots */
.mySwiper .swiper-pagination-bullet {
  background-color: #262626;
  opacity: 1;
}

/* Active dot */
.mySwiper .swiper-pagination-bullet-active {
  background-color: #8ebb2d;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.icon {
  color: #b8b8b8; /* default color */
  transition: color 0.1s; /* smooth hover */
}

.icon:hover {
  color: #8ebb2d; /* color on hover */
}
